<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is my page title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ url_for('login') }}">Login</a>
  <a href="{{ url_for('site_home') }}">Home</a>
  <a href="{{ url_for('site_secret') }}">Secret Page</a>
    <a href="{{ url_for('site_logout') }}">Logout</a>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

<nav>
    <ul>
  <li><a class="active" href="{{ url_for('login') }}">Login</a></li>
  <li><a href="{{ url_for('site_home') }}">Home</a></li>
  <li><a href="{{ url_for('site_secret') }}">Secret Page</a></li>
        <li><a href="{{ url_for('site_logout') }}">Logout</a></li>
</ul>
</nav>

{% block body %}
<h1> Welcome to the Neural Network Playground Help Website!</h1>

<p>
    This project is meant for anyone that wants to experiment with the NEAT algorithm. There are three video games that the
    NEAT network can attempt to solve. As the user you can choose different parameters, depending on the game, that provide the neural network
    conditions to solve the game under.
</p>
<p>
    Before we get into the specific game parameters that you can choose for the neural network there are two parameters that every game option shares.
    These are the hidden layer, and hidden neuron options. THe rule of thumb is tha the number of hidden layers should at least be equal to the input layers,
    and the number of hidden neurons in the layers should be the mean of the neurons in the input and output layers. In these games the input and output layers
    both have one neuron. Despite the advice here I recommend you choose different options to see the effect on the neural network!
</p>
<p>
    For the game specific paremeters we have:
    - Flappy Bird has variable tube options
    - Snake has added blocks and speed
    - Breakout has increased ball and/or bat speed
</p>

{% endblock %}
</body>
</html>